@import './fonts.css';
@import '~rsuite/dist/rsuite.min.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: var(--color-secondary);
  font-family: var(--font-default);
  font-size: 14px;
}

.text-xl,
.text-2xl,
.text-3xl,
.text-4xl,
.text-5xl,
.text-6xl,
.text-7xl,
.text-8xl,
.text-9xl {
  font-family: var(--font-title);
}

.text-xs {
  font-family: var(--font-small);
  font-weight: 200;
}